{
    "swagger": "2.0",
    "info": {
        "description": "# This is a DFD server\nMost of api endpoints aim to restful.\n## Permissions\nAPI endpoints request a permission.\nIf not described, It is public API.\nPermissions are described below table:\n| Permission        | Description                         | Role               |\n|-------------------|-------------------------------------|--------------------|\n| user.patch        | Allows edit user information.       | Admin \u003cbr/\u003e User   |\n| user.get          | Allows get user information         | Admin \u003cbr/\u003e User   |\n| imagelist.get     |  Allows get own image list          | Admin \u003cbr /\u003e User  |\n| image.post        | Allows image upload                 | Admin  \u003cbr /\u003e User |\n| image.delete      | Allows image delete                 | Admin  \u003cbr /\u003e User |\n| states.get        | Allows get states history           | Admin  \u003cbr /\u003e User |\n| states.post       | Allows create states                | Admin  \u003cbr /\u003e User |\n| announces.get     | Allows get states announce list     | Admin  \u003cbr /\u003e User |\n| announce.post     | Allows create announce              | Admin  \u003cbr /\u003e User |\n| announce.get      | Allows get announce                 | Admin  \u003cbr /\u003e User |\n| announce.delete   | Allows delete my announce           | Admin  \u003cbr /\u003e User |\n| announce.patch    | Allows patch announce               | Admin  \u003cbr /\u003e User |\n| admin.token.create| Allows create and patch admin token | Admin              |\n## Authentication\nLogin is working with discord Oauth2.\nAfter login, the access and refresh token stored in Cookie.\nYou should get from the tokens via /token endpoint.\nHowever, all requests take a access token in **Authorization** header for security.\nThe access token is JWT statless token.\nRefresh token is stored and used cookie.",
        "title": "DFD API",
        "contact": {
            "name": "Seokho Song",
            "url": "http://github.com/devsdkGIN_MODE"
        },
        "license": {
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0"
    },
    "host": "devsdk.net/api/dfd",
    "basePath": "/",
    "paths": {
        "/auth/login": {
            "get": {
                "description": "Redirect to discord Oauth2 login page",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth/"
                ],
                "summary": "Login"
            }
        },
        "/auth/logout": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete access token and refresh token from cookie. And register the refresh token into blacklist",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth/"
                ],
                "summary": "Logout",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    }
                }
            }
        },
        "/auth/refresh": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Refresh access token token. REQUIRED: access and refresh JWT token in cookie.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth/"
                ],
                "summary": "Refresh token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "refresh token",
                        "name": "X-Dfd-Refresh",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    }
                }
            }
        },
        "/auth/token": {
            "get": {
                "description": "Return access and refresh token from cookie if it is valid.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth/"
                ],
                "summary": "Get access token and refresh",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "access": {
                                            "type": "string"
                                        },
                                        "refresh": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    }
                }
            }
        },
        "/v1/announce": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "write announce\nPermission : **announce.post**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Write announce",
                "parameters": [
                    {
                        "description": "username",
                        "name": "bodymap",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/docmodels.RequestBodyAnnouncePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/announce/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get specific announce by announce id\nPermission : **announce.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Get announce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Announce ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "announce": {
                                            "$ref": "#/definitions/models.Announce"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete announce by announce id\nPermission : **announce.delete**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Delete announce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Announce ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Edit spcific announce written by me\nPermission : **announce.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Patch Announce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Announce ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/docmodels.RequestBodyAnnouncePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/announces/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all announce list sorted by creation time\nPermission : **announces.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Get all announce list",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Announce"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/announces/current": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get announce list greater then target-date from NOW sorted by creation time\nPermission : **announces.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Get current announce list",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Announce"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/announces/me": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get announce list written by me\nPermission : **announces.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Get own announce list",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Announce"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/announces/user/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get announce list written by user\nPermission : **announces.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/announce"
                ],
                "summary": "Get announce list by user id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Announce"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/application/riot/access": {
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Riot token updator (This api only available on \"Riot development token\". If I get application token, This endpoint will be deleted)\nPermission : **admin.token.create**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/admin"
                ],
                "summary": "Patch Riot Token",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/docmodels.RequestBodyToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/application/token": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "1st party application token.\nPermission : **admin.token.create**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/admin"
                ],
                "summary": "Create new application token",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/image": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Upload Image by base64 image. It supports **png, jpeg, gif**\nPermission : **image.post**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/image"
                ],
                "summary": "Post image",
                "parameters": [
                    {
                        "description": "base64 image",
                        "name": "img",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/docmodels.RequestBodyImagePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/image/{id}": {
            "get": {
                "description": "Get Image. When Success it provide image",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "image/png",
                    "image/jpeg",
                    "image/gif"
                ],
                "tags": [
                    "api/v1/image"
                ],
                "summary": "Get image by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Image ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete image by image id.\nPermission : **image.delete**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/image"
                ],
                "summary": "Delete image",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Image ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/images": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Image list uploaded from me.\nPermission : **imagelist.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/image"
                ],
                "summary": "Get my image list",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "images": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/docmodels.ResponseImageElement"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/lol/datelogs": {
            "get": {
                "description": "Game count per date and calculate win count by queue id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/lol/history"
                ],
                "summary": "Get game counts and win rate per date",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "games": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/docmodels.ResponseDateLog"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/lol/histories": {
            "get": {
                "description": "Get game histories",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/lol/history"
                ],
                "summary": "Get lol histories",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "games": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/docmodels.ResponseLoLHistory"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/lol/history/updater": {
            "post": {
                "description": "Find game after the timestamp and store to DB\n**Application Token** is required.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/lol/history"
                ],
                "summary": "Update lol history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "application access token",
                        "name": "X-Dfd-App-Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/lol/history/{id}": {
            "get": {
                "description": "Find game after the timestamp and store to DB",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/lol/history"
                ],
                "summary": "Get lol history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "game": {
                                            "type": "object"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/state": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create state\nPermission : **states.post**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/state"
                ],
                "summary": "Create state",
                "parameters": [
                    {
                        "description": "Create user state",
                        "name": "state",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/docmodels.RequestBodyStatePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/states": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get my state change history\nPermission : **states.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/state"
                ],
                "summary": "Get my state history",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "history": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.DFDHistory"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/states/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get user's state change history\nPermission : **states.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/state"
                ],
                "summary": "Get state history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "history": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.DFDHistory"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/user": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get me\nPermission : **user.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/user"
                ],
                "summary": "Get My User Information",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "$ref": "#/definitions/models.User"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "edit userfield.\nPermission : **user.patch**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/user"
                ],
                "summary": "Edit user information",
                "parameters": [
                    {
                        "description": "username",
                        "name": "username",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/docmodels.RequestBodyPatchUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/user/lol": {
            "patch": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update LOL user informations\nPermission : **user.patch**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/user"
                ],
                "summary": "Patch LOL Information",
                "parameters": [
                    {
                        "description": "league of legends username",
                        "name": "lol_username",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.RequestEmpty"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "lol_username": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseSuccess"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/user/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get user by user id\nPermission : **user.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/user"
                ],
                "summary": "Get User Information",
                "operationId": "get-string-by-string",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "$ref": "#/definitions/models.User"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        },
        "/v1/userlist": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get userlinst who is not guest.\nPermission : **user.get**",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api/v1/user"
                ],
                "summary": "Get User List",
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/docmodels.ResponseSuccess"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseBadRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request. If token is expired, **token_expired** filed must be set true",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseUnauthorized"
                        }
                    },
                    "403": {
                        "description": "You don't have permission",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "404": {
                        "description": "Cannt found user",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseNotFound"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/docmodels.ResponseInternalServerError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "docmodels.RequestBodyAnnouncePost": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string",
                    "example": "This field is optional"
                },
                "target_date": {
                    "type": "string",
                    "format": "date-time"
                },
                "title": {
                    "type": "string",
                    "example": "Title"
                }
            }
        },
        "docmodels.RequestBodyImagePost": {
            "type": "object",
            "properties": {
                "img": {
                    "type": "string",
                    "format": "base64",
                    "example": "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                }
            }
        },
        "docmodels.RequestBodyPatchUser": {
            "type": "object",
            "properties": {
                "profile_image_id": {
                    "type": "string",
                    "example": "6006d3cc95f8c8e32d660c04"
                },
                "username": {
                    "type": "string",
                    "example": "devsdk"
                }
            }
        },
        "docmodels.RequestBodyStatePost": {
            "type": "object",
            "properties": {
                "state": {
                    "type": "string",
                    "example": "Working"
                }
            }
        },
        "docmodels.RequestBodyToken": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string",
                    "example": "riot-api-access"
                }
            }
        },
        "docmodels.RequestEmpty": {
            "type": "object"
        },
        "docmodels.ResponseBadRequest": {
            "type": "object",
            "properties": {
                "messsage": {
                    "type": "string",
                    "example": "Bad request message"
                },
                "status": {
                    "type": "integer",
                    "example": 400
                }
            }
        },
        "docmodels.ResponseDateLog": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "example": 4
                },
                "day": {
                    "type": "integer",
                    "example": 12
                },
                "month": {
                    "type": "integer",
                    "example": 2
                },
                "queueid": {
                    "type": "integer",
                    "example": 430
                },
                "win": {
                    "type": "integer",
                    "example": 2
                },
                "year": {
                    "type": "integer",
                    "example": 2021
                }
            }
        },
        "docmodels.ResponseImageElement": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "6006d3cc95f8c8e32d660c04"
                },
                "uploadDate": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "docmodels.ResponseInternalServerError": {
            "type": "object",
            "properties": {
                "messsage": {
                    "type": "string",
                    "example": "Internal Server Error"
                },
                "status": {
                    "type": "integer",
                    "example": 500
                }
            }
        },
        "docmodels.ResponseLoLHistory": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "6006d3cc95f8c8e32d660c04"
                },
                "participates": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "timestamp": {
                    "type": "integer",
                    "example": 1610811479544
                },
                "win": {
                    "type": "boolean",
                    "example": true
                }
            }
        },
        "docmodels.ResponseNotFound": {
            "type": "object",
            "properties": {
                "messsage": {
                    "type": "string",
                    "example": "Not found message"
                },
                "status": {
                    "type": "integer",
                    "example": 404
                }
            }
        },
        "docmodels.ResponseSuccess": {
            "type": "object",
            "properties": {
                "messsage": {
                    "type": "string",
                    "example": "success"
                },
                "status": {
                    "type": "integer",
                    "example": 200
                }
            }
        },
        "docmodels.ResponseUnauthorized": {
            "type": "object",
            "properties": {
                "messsage": {
                    "type": "string",
                    "example": "Request Unauthorized message"
                },
                "status": {
                    "type": "integer",
                    "example": 401
                },
                "token_expired": {
                    "type": "boolean",
                    "example": true
                }
            }
        },
        "models.Announce": {
            "type": "object",
            "properties": {
                "authorId": {
                    "type": "string",
                    "example": "5c06bc289b9bdd2381263063"
                },
                "created": {
                    "type": "string"
                },
                "description": {
                    "type": "string",
                    "example": "this project is awesome!"
                },
                "id": {
                    "type": "string",
                    "example": "6006bc289b9bdd2381263063"
                },
                "modified": {
                    "type": "string"
                },
                "targetDate": {
                    "type": "string",
                    "example": "2021-01-19T11:01:19+00:00"
                },
                "title": {
                    "type": "string",
                    "example": "awesome title"
                }
            }
        },
        "models.DFDHistory": {
            "type": "object",
            "properties": {
                "created": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "state": {
                    "type": "string"
                },
                "was": {
                    "type": "string"
                }
            }
        },
        "models.User": {
            "type": "object",
            "properties": {
                "created": {
                    "type": "string",
                    "format": "date-time"
                },
                "discord_id": {
                    "type": "string"
                },
                "email": {
                    "type": "string",
                    "format": "email"
                },
                "id": {
                    "type": "string"
                },
                "lolUsername": {
                    "type": "string"
                },
                "modified": {
                    "type": "string",
                    "format": "date-time"
                },
                "profile_image": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}